* {
    text-decoration: none;
    list-style: none;
    font-family: "Cormorant", serif;

}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    overflow-x: hidden;
}


@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .about-content h2 {
    font-size: 26px;
  }

  .about-content p {
    font-size: 15px;
  }

  .about-btn {
    margin-top: 10px;
  }

  .about-image {
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .about-content h2 {
    font-size: 22px;
  }

  .about-content p {
    font-size: 14px;
  }
}
